---
layout: default
title: H2O
cover: 'assets/images/cover.png'
class: 'home-template'
navigation: True
logo: 'assets/images/logo-light.png'
current: home
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header  -->
<header class="main-header {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>

    <div class="vertical">
        <div class="main-header-content inner">
            <img src="/assets/images/cover-text.png" style="max-width: 80%; width: auto; margin-left: 40px">
            <!--
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">{{ site.description }}</h2>
            -->
        </div>
        <a class="outlier" href="https://www.outlierventures.io/"><img src="/assets/images/ov-light.png"></a>

    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78255431-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-78255431-3');
    </script>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <article class="post">
        <!--
        <header class="post-header">
            <h1 class="post-title">H2O: Haja to Ocean</h1>
        </header>
        -->
        <section class="post-content">
            H2O is short for Haja to Ocean.
            Put succinctly, H2O performs machine learning with <a href='https://haja.io/'>Haja Networks</a>' flagship OrbitDB and <a href='https://oceanprotocol.com/'>Ocean Protocol</a>'s data markets.
            <br><br>
            H2O is the first app to run in the convergence stack, building on top of multiple software frameworks that underpin the <a href='/help-us-build/'>Convergence Ecosystem</a>.
            It is a demonstration of machine learning in Web3, allowing users to run a clustering algorithm on data stored in OrbitDB and publish the resulting AI datasets to the Ocean Protocol blockchain.
            <br><br>
            H2O makes use of various technologies, including Python, Node and Angular.
            The app runs the Ocean Protocol Trilobite release code and the latest version of OrbitDB.
            <br><br>
            H2O is able to generate useful preprocessed datasets for AI and use them to seed Ocean Protocol’s global data market, all on a decentralised storage solution made possible by Haja Networks.
            Though it is largely demonstrative for now, H2O is the first step toward apps in the convergence ecosystem.
            <br><br>
            <div style="width:100%; text-align: center;">
                <a href="/about/" style ="text-decoration: none;">
                    <button>Learn more ></button>
                </a>
                <a href="https://www.github.com/OutlierVentures/H2O/" style="text-decoration: none;">
                    <button>Get coding ></button>
                </a>
                <br>
                <a href="https://live.h2o.outlierventures.io/" style="text-decoration: none;">
                    <button>See H2O live ></button>
                </a>
            </div>
        </section>

    </article>
</main>
