<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-fables {% if page.url contains 'getting-started' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}getting-started">Getting started</a></li>
        <li class="nav-speeches {% if page.url contains 'using-kovan' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}using-kovan">Using Kovan</a></li>
        <li class="nav-fiction {% if page.url contains 'ov-labs' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}ov-labs">OV Labs</a></li>
        <li class="nav-author {% if page.url contains 'developer-tools' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}developer-tools">Developer tools</a></li>
        <li class="nav-author {% if page.url contains 'disclaimer' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}disclaimer">Disclaimer</a></li>
    </ul>
    <div style="position: absolute; bottom: 0; width: 100%; text-align: center;">
        <a style="text-decoration: none;" href="https://www.github.com/OutlierVentures/H2O">
            <div>
                <img src="../assets/images/github-light.png" width="30%">
                <p>Fork me on GitHub</p>
            </div>
        </a>
    </div>
    <!--
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
    -->
</div>
<span class="nav-cover"></span>
